body{
    background-image: linear-gradient(to right,rgb(0, 229, 255),rgb(0, 174, 255));
    
}
header ul{
    width: 66%;
    position: relative;
    left: 620px;
    bottom: 26px;
}

header li{
    display: inline-block;
    padding:3px
}
header li a{
    text-decoration: none;
    font-family: cursive;
    color: white;
}
header div{
    margin: 16px;
    width: 70%;
    position: relative;
    top: 8px;
    left:220px;
    font-family: cursive;
    color: white;
}
.content .left{
    width: 30%;
    position: relative;
    left: 14%;
    display: inline-block;
}
.content{
    margin: 10% 0px;
}
.content .form-content{
    background-color: white;
    display: inline-block;
    height: 30%;
    width: 120%;
    border-radius: 10px;
}
.content h1{
    text-align: center;
    color: black;
    font-family: auto;
    font-weight: 100;
}
.content input{
    display: block;
    line-height: 2.4em;
    width: 20%;
    margin: 1%;
    background-color: #f7edf0;
    border: none;
    border-radius: 5px;
}
.content button{
    display: inline-block;
    position: relative;
    left: 1%;
    border: none;
    line-height: 2.0em;
    background-color: #004eff;
    color: white;
    width: 81%;
    border-radius: 6px;
}
.content form{
    background-color: #f9f8f8; 
    display: inline-block;
    height: 1020px;
    margin: 10px;
    bottom: 22px;
    left: 30%;
    position: relative;
}